<script>
  function update_period() {
    var week_options = '<%= options_for_select((1..7).to_a).gsub("\n", '') %>';
    var month_options = '<%= options_for_select((1..28).to_a << "last").gsub("\n", '') %>';
    var year_options = '<%= options_for_select((1..365).to_a).gsub("\n", '') %>';
    $('#period_text').html($('#bucket_auto_period').val());
    switch($('#bucket_auto_period').val()) {
      case 'week':
        $('#bucket_auto_day').html(week_options);
      break;
      case 'month':
        $('#bucket_auto_day').html(month_options);
      break;
      case 'year':
        $('#bucket_auto_day').html(year_options);
      break;
    }
  }
  function update_th() {
    var day = $('#bucket_auto_day').val()
    var th = '';
    var digit = day.charAt(day.length - 1);
    switch(true) {
      case day == '11':
      case day == '12':
      case day == '13':
        th = 'th';
      break;
      case digit == '1':
        th = 'st';
      break;
      case 'last':
        th = '';
      break;
      case digit == '2':
        th = 'nd';
      break;
      case digit == '3':
        th = 'rd';
      break;
      default:
        th = 'th';
      }
      $('#th').html(th)
  }
  
  $(function (){
    update_period();
    $('#bucket_auto_day').val(<%= @bucket.auto_day %>)
    update_th();
  });
</script>
<% form_for(@bucket) do |f| %>
  <%= f.error_messages %>
  <p>
    <label for="bucket_name">Name:</label> 
    <%= f.text_field :name %>
  </p>
  <p>
    Automatically deposit $<%= f.text_field :auto_amount, :size => 5 %> every 
    <%= f.select :auto_period, ['week','month','year'], {}, :onchange => 'update_period()' %>
    on the <%= f.select :auto_day, (1..7).to_a, {}, :onchange => 'update_th()' %>
    <span id="th">st</span> day of the <span id="period_text">week</span>
  </p>
  <p>
    <%= f.submit "Save" %> or <%= link_to 'Cancel', :back, :class => 'cancel' %>
  </p>
<% end %>