<h1><%= @bucket.name %> Bucket</h1>
<h2>Money in bucket: <%= render :partial => 'totals' %></h2>

<div id="transactions" style="display:none;">
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody id="transaction_list">
    <%= render :partial => @bucket.transactions %>

  </tbody>
</table>
</div>
<p>
<%= link_to_function 'Show/Hide Transactions', "$('#transactions').toggle('slide');" %>
</p>
<p>
<%= link_to_remote 'Add Deposit', :url => new_bucket_deposit_path(@bucket) %> |
<%= link_to_remote 'Add Expense', :url => new_bucket_expense_path(@bucket) %>
</p>
<div id="transaction_form"></div>
<p>
<%= link_to 'Edit Bucket', edit_bucket_path(@bucket) %> |
<%= link_to 'Back to list', buckets_path %>
</p>