<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Buckets: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'layout' %>
  <%= javascript_include_tag :defaults %>

</head>





<body>
<!-- GMX Homepage -->

<!-- bodywidth : 960px wrap -->



<div id="outer">
<div id="headout">
<div class="bodywidth">
<div id="head">
	<div id="logo">
		<a href="/" class="homelogo">Bucket Budget</a>
	</div><!-- logo -->

	
	<div class="clear"></div>
</div><!-- head -->

<div id="topmenu">
	<div id="leftmenu">
		<ul>
      <li><a href="/buckets">My Buckets</a></li>

<!--      <li><a href="">Tags</a></li>
      <li><a href="">Popular</a></li>
      <li><a href="">Recent</a></li> -->
		</ul>
	</div><!-- leftmenu -->

	<div id="rightmenu">
		<ul>
    <%- if current_user -%>
			<li><%= link_to "Log Out", '/logout' %></li>
			<li><%= link_to "My Profile", edit_user_path(current_user) %></li>
		<%- end -%>
		</ul>
	</div><!-- rightmenu -->

	<div class="clear"></div>

</div><!-- topmenu -->
</div><!-- bodywidth -->

</div><!-- headout -->



<div id="main">
<div class="bodywidth">
  <%= yield  %>
</div><!-- bodywidth -->
</div><!-- main -->





</div><!-- outer -->



</body>
</html>
